
# JSON

**Dataset:** `titanic-parquet.json` (JSON array of passenger records)

### Learning goals
- Understand JSON structure: objects `{}` vs arrays `[]`, keys & values, nesting
- Load JSON into Python and navigate it (lists & dicts)
- Convert JSON to a DataFrame for analysis
- Perform data manipulation tasks (filtering, grouping, aggregations)
- (Preview) See how this maps 1:1 to JSON returned by APIs


## Part A â€” Guided Practice

### Step 1 â€” Load the JSON
Choose **one** of the two options below:
1) **Upload** `titanic-parquet.json` from your computer  
2) If the file is already in your Colab runtime, just use the filename

> Tip: After loading, we'll quickly check types to understand structure.

In [1]:
import json

data = []
with open('titanic-parquet.json', 'r') as f:
    for line in f:
        data.append(json.loads(line))

type(data), type(data[0])

(list, dict)


**Checkpoint:**  
- `type(data)` should be `list` (array of passenger objects)  
- `type(data[0])` should be `dict` (one passenger record)


### Step 2 â€” Inspect the structure
We'll peek at the first record and list its keys.

In [2]:

first = data[0]
print("First passenger record:")
print({k: first[k] for k in list(first.keys())[:8]})  # preview some fields

print("\nAll keys in one passenger:")
print(list(first.keys()))

First passenger record:
{'PassengerId': '1', 'Survived': '0', 'Pclass': '3', 'Name': 'Braund, Mr. Owen Harris', 'Sex': 'male', 'Age': 22, 'SibSp': '1', 'Parch': '0'}

All keys in one passenger:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']


### Step 3 â€” Accessing values
We'll access specific fields via Python's list/dict notation.

In [3]:

# Example: name, ticket, and survived status for the 1st passenger
p0 = data[0]
(p0['Name'], p0['Ticket'], p0['Survived'])

('Braund, Mr. Owen Harris', 'A/5 21171', '0')

In [4]:

# Guided exercise: Access fields for passenger #10 (index 9)
# TODO: Replace the ... with the correct keys to access these values.
p9 = data[9]
name_10 = p9['Name']          # TODO
age_10 = p9['Age']          #TODO
pclass_10 = p9['Pclass']      # TODO
surivived_10 = p9['Survived']  # TODO

name_10, age_10, pclass_10, surivived_10

('Nasser, Mrs. Nicholas (Adele Achem)', 14, '2', '1')


### Step 4 â€” Convert to a DataFrame
Because each passenger is a flat dictionary (no nested objects), conversion is straightforward.

In [5]:
import pandas as pd

df = pd.DataFrame(data)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

### Understanding Key Fields in the Titanic Dataset

| **Field** | **Meaning** | **Explanation** |
|-----------|------------|----------------|
| **SibSp** | Number of siblings or spouses aboard | How many **brothers, sisters, or husband/wife** this passenger was traveling with. |
| **Parch** | Number of parents or children aboard | Stands for **Par**ent + **Ch**ild â†’ indicates family members like mother, father, son, or daughter traveling together. |
| **Ticket** | Passengerâ€™s ticket identifier | A booking reference â€” multiple passengers may share the same ticket if they booked together. |
| **Fare** | Amount paid for the ticket | The **price of the ticket**, often related to class and economic status. |
| **Cabin** | Cabin number assigned | The **room location** on the ship â€” many lower-class passengers don't have this recorded (`null`). |
| **Embarked** | Port of boarding | Shows where the passenger got on the ship:<br>**C = Cherbourg (France)**<br>**Q = Queenstown (Ireland)**<br>**S = Southampton (UK)** |


### Step 5 â€” Filtering & selecting (guided)
Let's warm up with basic selectors.

In [6]:
df.dtypes

PassengerId     object
Survived        object
Pclass          object
Name            object
Sex             object
Age            float64
SibSp           object
Parch           object
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:

# Example: Female passengers traveling alone (no spouse/siblings and no parents/children)

female_solo_travelers = df[
    (df['Sex'] == 'female') &      # female only
    (df['SibSp'] == '0') &           # no siblings/spouse
    (df['Parch'] == '0')             # no parents/children
]

female_solo_travelers[['Name', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Survived']]

,Name,Pclass,Sex,SibSp,Parch,Survived
2,"Heikkinen, Miss. Laina",3,female,0,0,1
11,"Bonnell, Miss. Elizabeth",1,female,0,0,1
14,"Vestrom, Miss. Hulda Amanda Adolfina",3,female,0,0,0
15,"Hewlett, Mrs. (Mary D Kingcome)",2,female,0,0,1
19,"Masselmani, Mrs. Fatima",3,female,0,0,1
...,...,...,...,...,...,...
862,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,female,0,0,1
865,"Bystrom, Mrs. (Karolina)",2,female,0,0,1
875,"Najib, Miss. Adele Kiamie ""Jane""",3,female,0,0,1
882,"Dahlberg, Miss. Gerda Ulrika",3,female,0,0,0
887,"Graham, Miss. Margaret Edith",1,female,0,0,1

In [8]:

# Example: Passengers with Age under 25
young_passengers = df[df['Age'] < 25]

young_passengers[['Name', 'Age', 'Survived']]

                                    Name   Age Survived
0                Braund, Mr. Owen Harris  22.0        0
7         Palsson, Master. Gosta Leonard   2.0        0
9    Nasser, Mrs. Nicholas (Adele Achem)  14.0        1
10       Sandstrom, Miss. Marguerite Rut   4.0        1
12        Saundercock, Mr. William Henry  20.0        0
..                                   ...   ...      ...
875     Najib, Miss. Adele Kiamie "Jane"  15.0        1
876        Gustafsson, Mr. Alfred Ossian  20.0        0
877                 Petroff, Mr. Nedelio  19.0        0
882         Dahlberg, Miss. Gerda Ulrika  22.0        0
887         Graham, Miss. Margaret Edith  19.0        1

[278 rows x 3 columns]


---

## Part B â€” Individual Practice

Work through the tasks below on your own. Each task has a **hint**.  
Feel free to add cells as needed. After this section, there's an optional **Solutions** section.


### Q1 â€” List of names who **survived**
Create a Python list of names for all passengers who **survived**.

**Hint:** Filter `df['Survived'] == 1`, then select the `Name` column and convert to a list.

In [13]:

# Q1: Your work here
survivors = df.loc[df["Survived"] == '1', "Name"].tolist()
survivors[:10]

['Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Williams, Mr. Charles Eugene',
 'Masselmani, Mrs. Fatima']


### Q2 â€” Count of passengers by embarkation port
Compute how many passengers embarked from each port (`Embarked`).

**Hint:** `value_counts()` is your friend. Consider missing values.

In [14]:

# Q2: Your work here
df['Embarked'].value_counts(dropna=False)

Embarked
S       644
C       168
Q        77
None      2
Name: count, dtype: int64


### Q3 â€” Average fare by passenger class
Compute the **mean fare** for each `Pclass`.

**Hint:** Use `groupby('Pclass')['Fare'].mean()`.

In [15]:

# Q3: Your work here
avg_fare_by_class = df.groupby('Pclass')['Fare'].mean()
avg_fare_by_class

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64


### Q4 â€” New column `IsChild`
Create a boolean column `IsChild` that is `True` if `Age < 12`, else `False` (or NaN if `Age` missing).

**Hint:** `df['Age'] < 12`

In [16]:

# Q4: Your work here
df['IsChild'] = df['Age'] < 12

df[['Age','IsChild']].head(10)

    Age  IsChild
0  22.0    False
1  38.0    False
2  26.0    False
3  35.0    False
4  35.0    False
5   NaN    False
6  54.0    False
7   2.0     True
8  27.0    False
9  14.0    False


### Q5 â€” Filter: female, Second Class, did **not** survive
Return a DataFrame subset for **female** passengers in **Second Class** who **did not survive**.

**Hint:** Combine three boolean conditions with `&`.

In [18]:

# Q5: Your work here
subset = df[(df['Sex'] == 'female') & (df['Pclass'] == '2') & (df['Survived'] == '0')]
subset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,IsChild
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0,None,S,False
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.0,None,S,False
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0,None,S,False
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0,None,S,False
772,773,0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5,E77,S,False


### Q6 â€“ Letâ€™s Find People Like **Jack** and **Rose**

Adjusting for historical accuracy:

- **Rose-type** â†’ Female, First Class, **no children**, but *may be traveling with a parent (like Rose with her mother)*  Age under 25, embarded at Southampton

  â†’ `Sex == 'female'`, `Pclass == '1'`, `SibSp == '0'`,`Parch == '1'`, `Age < 25`, `Embarked == 'S'`

- **Jack-type** â†’ Male, Third Class, **traveling alone** (no spouse/siblings, no parents/children), Age under 25,embarded at Southampton

  â†’ `Sex == 'male'`, `Pclass == '3'`, `SibSp == '0'`, `Parch == '0'`, `Age < 25`,`Embarked == 'S'`

#### Task:
1. Filter **Rose-type passengers**
2. Filter **Jack-type passengers**
3. Compare:
   -  How many "Roses" were on board?
   -  What percentage of them survived?
   -  Compare with "Jack-type" â€” does the data match the movie narrative?

In [19]:
df.dtypes

PassengerId     object
Survived        object
Pclass          object
Name            object
Sex             object
Age            float64
SibSp           object
Parch           object
Ticket          object
Fare           float64
Cabin           object
Embarked        object
IsChild           bool
dtype: object

In [34]:

# Q6: Your work here
df["Survived"] = pd.to_numeric(df["Survived"], errors="coerce")


rose = df[(df['Sex'] == 'female') & (df['Pclass'] == '1') & (df['SibSp'] == '0') & (df['Parch'] == '1') & (df['Age'] < 25) & (df['Embarked'] == 'S')]

jack = df[(df['Sex'] == 'male') & (df['Pclass'] == '3') & (df['SibSp'] == '0') & (df['Parch'] == '0') & (df['Age'] < 25) & (df['Embarked'] == 'S')]

print(f"Rose type count: {len(rose)}")
print(f"Jack type count: {len(jack)}")

print("Rose Survival Percentage:")
print(rose['Survived'].mean() * 100, "%")

print("Jack Survival Percentage:")
print(jack['Survived'].mean() * 100, "%")

Rose type count: 3
Jack type count: 69
Rose Survival Percentage:
100.0 %
Jack Survival Percentage:
7.246376811594203 %

# Answer: 

Although the counts for "Rose-type" individuals was quite low at just 3, the survival rate of 100 % in comparison to the Jack type's 7 % on average lines up with the movie's narrative about younger first class women surviving at much higher rates than lower class men around the same age. Men were expected to sacrifice themselves for the survival of the women and children on the boat, and this became especially true when resources were low while waiting for help in the sinking shipwreck.


---

##API Preview
## Step 1 â€” Start with the Base API URL

We always begin by defining the **base endpoint**.  
This is like setting up the connection before we add filters or queries.


###  Why It's Important to Read API Documentation First

Before coding with an API, always look at its official documentation page:

ðŸ”— **Example:** https://openlibrary.org/dev/docs/api/search

**Why this matters:**


- Shows which **parameters** we can use (like `q`, `limit`, `fields`)
-  Tells us which **fields** exist â€” so we donâ€™t guess
-  Explains how the **response is structured**
-  Saves time and prevents errors
-  Without it, we might get empty or messy results

>  Think of API docs like an *instruction manual* â€” it tells you how to ask for data the right way.

In [35]:
#Code Cell â€” Store Base URL
import requests

# Define the base API endpoint (no parameters yet)
BASE_URL = "https://openlibrary.org/search.json"

# Make a basic call WITHOUT parameters
response = requests.get(BASE_URL)
data = response.json()

data  # Notice: no results, because we didn't tell it what to search for yet

{'numFound': 0,
 'start': 0,
 'numFoundExact': True,
 'num_found': 0,
 'documentation_url': 'https://openlibrary.org/dev/docs/api/search',
 'q': '',
 'offset': None,
 'docs': []}

> The result above comes back **empty** (`"docs": []`) because we didn't include a **query parameter**.

APIs work like **input â†’ output** systems.
Just like a function needs arguments, **APIs need parameters** to know what to return.

Now, we'll add parameters **separately** using a dictionary instead of hardcoding them into the URL.

In [36]:
# Step 2 â€” Add parameters using a dictionary instead of writing directly in the URL

params = {
    "q": "harry potter",  # our search query
    "limit": 3            # limit to a few results for testing
}

response = requests.get(BASE_URL, params=params)  # cleaner way
data = response.json()

data

{'numFound': 3754,
 'start': 0,
 'numFoundExact': True,
 'num_found': 3754,
 'q': 'harry potter',
 'documentation_url': 'https://openlibrary.org/dev/docs/api/search',
 'docs': [{'author_key': ['OL23919A'],
   'author_name': ['J. K. Rowling'],
   'cover_edition_key': 'OL25662116M',
   'cover_i': 10523466,
   'ebook_access': 'borrowable',
   'edition_count': 226,
   'first_publish_year': 2003,
   'has_fulltext': True,
   'ia': ['harypotterizakon0000rowl',
    'harrypotter5undd0000joan',
    'harrypotter05har0000joan',
    'harrypotterorder0000jkro',
    'harrypotterogfni0000unse',
    'harrypotteresfon0000rowl',
    'harispoterisirfe0000rowl',
    'harrypotterorder0000rowl_j7r2',
    'harrynbsppottery0005jkro',
    'harrypotterorder0000rowl_h2t4',
    'harrypotterorder0000rowl_h7u3',
    'harrypotterorder2004rowl',
    'harrypotterendeo0000rowl',
    'harrypotterorder0000rowl_g1n2',
    'harrypotterorder0000rowl_o5a3',
    'harripotteriorde0000rowl',
    'harrypotterorder00rowl',
    'harrypotterorder0000rowl_f7t9',
    'harrypotteretlor0000rowl',
    'harrypotterundde0000rowl_z3l1',
    'harrypotterorder00rowl',
    'harrypotterorder00rowl_0',
    'harrypotterorde00rowl_0',
    'harrypotterorder0000rowl_s1p4',
    'haliboteyufenghu0000rowl',
    'harrypotterorder0000rowl_p8k0',
    'harrypotterylaor0000rowl',
    'harrypottero00rowl',
    'harrypotterylaor0000rowl_u7k6',
    'harrypotterylaor0000unse',
    'harrypotterorde00jkro',
    'harrypotterorde00rowl',
    'harrypotterorder0000rowl_y4y8'],
   'ia_collection_s': 'California-State-Suggested-Reading;additional_collections;americana;bannedbooks;books;delawarecountydistrictlibrary;inlibrary;internetarchivebooks;marygrovecollege;popularchinesebooks;printdisabled;toronto',
   'key': '/works/OL82548W',
   'language': ['jpn',
    'ben',
    'arm',
    'spa',
    'rus',
    'dan',
    'lit',
    'ukr',
    'pol',
    'heb',
    'ita',
    'bul',
    'por',
    'dut',
    'per',
    'tur',
    'chi',
    'fre',
    'vie',
    'swe',
    'ara',
    'cze',
    'ger',
    'cat',
    'tha',
    'hun',
    'eng',
    'kor',
    'hin',
    'hrv'],
   'lending_edition_s': 'OL26486989M',
   'lending_identifier_s': 'harypotterizakon0000rowl',
   'public_scan_b': False,
   'title': 'Harry Potter and the Order of the Phoenix'},
  {'author_key': ['OL23919A'],
   'author_name': ['J. K. Rowling'],
   'cover_edition_key': 'OL22856696M',
   'cover_i': 10521270,
   'ebook_access': 'borrowable',
   'edition_count': 357,
   'first_publish_year': 1997,
   'has_fulltext': True,
   'ia': ['harrypotterylapi0000rowl_q5r6',
    'harrypotterylapi0000rowl_d7v1',
    'haliboteshenmide0000rowl',
    'harrypotterundde0000jkro',
    'harrypotterlcole0000unse',
    'harrypottersorce0000rowl_h8m5',
    'harrypotterilape0000jkro',
    'haliboteyumofash0000rowl',
    'harrypotterphilo0000jkro',
    'harrypotterikami0000jkro',
    'harrypotterogdev0000rowl',
    'harrypotterkamen0000rowl',
    'lccn_078073006991',
    'harrypottersorce0000unse',
    'harrypotteresbol0000rowl',
    'harrypottersorce0000rowl_a6t2',
    'harrypotterylapi0000rowl',
    'harrypottermagic0000rowl_p4p3',
    'harrypotteraleco0000rowl',
    'harrypottersorce0000rowl_t5a1',
    'harrypottersorce0000rowl_l6l8',
    'harrypottersorce0000rowl_i9p5',
    'harrypottersorce0000rowl_1998',
    'harrypottersorce0000rowl',
    'harrypotterylapi0000jkro',
    'harrypotterphilo0000rowl_d8d4',
    'harrypotterphilo0000rowl_i7z2',
    'harriuspotteretp0000rowl',
    'harrypotterphilo0000rowl_k0s6',
    'haripattervasang0000rowl',
    'areiospoterkaihe00rowl',
    'harrypotterelapi00jkro',
    'harrypottersorce00rowl_1',
    'harrypottersorce00jkro_0',
    'harrypotterylapi00',
    'haripottatokenja00jkro',
    'harrypottersorce00rowl',
    'harrypottersorc00rowl',
    'harrypottersorce00rowl_0',
    'harrypotterphilo0000rowl_t2o9',
    'harrypotterphilo0000rowl_j1k7',
    'harrypottersorce00jkro',
    'isbn_9789984053851',
    'harrypotterylapi00rowl',
    'harrypotteraguso0000rowl',
    'garripotterifilo00jkro',
    'harrypotterdhegu0000jkro',
    'harrypotterphilo0000rowl_u9v4',
    'harrypotteriharr0000jkro',
    'harrypotterphilo0000rowl',
    'harrypotterundde0000rowl',
    'harriuspotteretp00jkro',
    'harrypotterphilo00rowl_044',
    'harriuspotteretp00rowl',
    'bdrc-W1KG14543'],
   'ia_collection_s': 'ambslibrary-ol;americana;americanuniversity-ol;bannedbooks;barryuniversity-ol;belmont-ol;binghamton-ol;bpljordan-ol;brynmawr-ol;buddhist-digital-resource-center;buddhist-digital-resource-center-restricted;cnusd-ol;cua-ol;dartmouthlibrary-ol;delawarecountydistrictlibrary;delawarecountydistrictlibrary-ol;denverpubliclibrary-ol;drakeuniversity-ol;goffstownlibrary-ol;gwulibraries-ol;hamiltonpubliclibrary-ol;inlibrary;internetarchivebooks;ithacacollege-ol;johnshopkins-ol;marymount-ol;miltonpubliclibrary-ol;occidentalcollegelibrary-ol;openlibrary-d-ol;popularchinesebooks;printdisabled;randolph-macon-college-ol;rochester-ol;salisburyfreelibrary-ol;spokanepubliclibrary-ol;the-claremont-colleges-ol;tulsacc-ol;uhmauicollege-ol;unb-ol;uni-ol;universityofarizona-ol;universityofcoloradoboulder-ol;universityofthewest-ol;wilsoncollege-ol;worthingtonlibraries-ol',
   'key': '/works/OL82563W',
   'language': ['ltz',
    'vie',
    'grc',
    'dan',
    'ara',
    'swe',
    'gle',
    'pol',
    'wel',
    'ita',
    'bul',
    'eng',
    'por',
    'heb',
    'dut',
    'ice',
    'chi',
    'fin',
    'lav',
    'fre',
    'per',
    'mar',
    'gla',
    'tur',
    'lit',
    'ger',
    'kor',
    'hin',
    'lat',
    'rus',
    'gre',
    'ben',
    'rum',
    'cat',
    'afr',
    'cze',
    'alb',
    'ukr',
    'urd',
    'spa',
    'hun',
    'jpn',
    'kal',
    'tha',
    'hrv',
    'tib'],
   'lending_edition_s': 'OL38565767M',
   'lending_identifier_s': 'harrypotterylapi0000rowl_q5r6',
   'public_scan_b': False,
   'title': "Harry Potter and the Philosopher's Stone"},
  {'author_key': ['OL23919A'],
   'author_name': ['J. K. Rowling'],
   'cover_edition_key': 'OL28172760M',
   'cover_i': 10110415,
   'ebook_access': 'printdisabled',
   'edition_count': 126,
   'first_publish_year': 2007,
   'has_fulltext': True,
   'ia': ['harrypotter07har0000joan',
    'rbanms.24651.harrypotterdeath0000jkro_e6z9',
    'harrypotterunddi0000jkro_a5b3',
    'harrypotterdeath0000rowl_n2u6',
    'harrypotterdeath0000rowl_m0z4',
    'harrypotterdeath0000rowl_e0l6',
    'harrypotterdeath0000rowl_c0f9',
    'harrypotterdeath0000rowl_z5e5',
    'harrypotteretles0000jkro',
    'haliboteyusiwang0007rowl',
    'harrypotterylasr00rowl',
    'harrypotteriinsy0000unse',
    'harrypotterdeath0000rowl_a4k7',
    'isbn_9780786296651',
    'harrypotterdeath00rowl',
    'harrypotterdeath0000rowl_n2u6',
    'harrypotterdeath2009rowl',
    'garripotteridary0000rowl',
    'harrypotteretles0000rowl'],
   'ia_collection_s': 'JaiGyan;ServantsOfKnowledge-Print;americana;americanuniversity-ol;bannedbooks;barryuniversity-ol;belmont-ol;bpljordan-ol;cnusd-ol;cua-ol;dartmouthlibrary-ol;delawarecountydistrictlibrary;delawarecountydistrictlibrary-ol;denverpubliclibrary-ol;drakeuniversity-ol;framingham-ol;goffstownlibrary-ol;gwulibraries-ol;internetarchivebooks;ithacacollege-ol;johnshopkins-ol;marygrovecollege;marymount-ol;occidentalcollegelibrary-ol;openlibrary-d-ol;popularchinesebooks;printdisabled;rochester-ol;salisburyfreelibrary-ol;spokanepubliclibrary-ol;the-claremont-colleges-ol;tulsacc-ol;uhmauicollege-ol;unb-ol;uni-ol;universityofarizona-ol;universityofcoloradoboulder-ol;universityofoklahoma-ol;universityofthewest-ol;wilsoncollege-ol;worthingtonlibraries-ol',
   'key': '/works/OL82586W',
   'language': ['glg',
    'dan',
    'est',
    'pol',
    'ita',
    'bul',
    'eng',
    'por',
    'heb',
    'chi',
    'fre',
    'ger',
    'hin',
    'rus',
    'ben',
    'gre',
    'geo',
    'cat',
    'cze',
    'spa',
    'hun',
    'jpn'],
   'public_scan_b': False,
   'title': 'Harry Potter and the Deathly Hallows'}]}

### Reading an API Response

The Open Library Search API returns a top-level dictionary:

- **`numFound` / `num_found`**: total number of matches (the whole catalog search)
- **`start`**: where this page of results begins (0-based)
- **`q`**: the query we asked for
- **`docs`**: **list** of result items (each item is a **work** record)

Each item in `docs` is a **dictionary** with fields such as:

- `title`: work title  
- `author_name`: list of author names  
- `first_publish_year`: year the work first appeared  
- `edition_count`: number of known editions  
- `ebook_access`: ebook status (`public`, `borrowable`, `printdisabled`, `no_ebook`)  
- `has_fulltext`: whether any text is digitized  
- `language`: list of language codes for editions (e.g., `eng`, `spa`)  
- `key`: unique Work key (open with `https://openlibrary.org` + key)  
- `cover_i`: numeric cover id (for cover image URLs)  
- `ia`: Internet Archive identifiers for available copies

## From Search Results to a Specific Book

The initial API search returns **many works** (books, editions, translations, box sets).
To get **one specific book**, we can follow this workflow:

> **Search â†’ Inspect Result â†’ Identify Key â†’ Drill Down**

###  Three Ways to Be More Specific

| Method | Description | Example |
|--------|-----------|--------|
| 1. Use structured parameters (`title=`, `author=`)** | Server filters by **exact field**, more accurate than `q=` | `?title=Harry Potter and the Goblet of Fire&author=Rowling` |
| 2. Filter results locally with pandas** | First get results, then narrow using string filters | `df[df["title"].str.contains("Goblet", case=False)]` |
| 3. Jump to full details using a **work key** | After search, grab `/works/OLXXXXXW` and fetch full JSON | `https://openlibrary.org/works/OL82563W.json` |

In [37]:
# Make an API request
params = {"q": "harry potter", "limit": 10}  # small limit
response = requests.get(BASE_URL, params=params).json()

# Collect unique keys across all docs (not just one)
df_api_results  = set()
for doc in response["docs"]:
    df_api_results .update(doc.keys())

sorted(df_api_results )

['author_key',
 'author_name',
 'cover_edition_key',
 'cover_i',
 'ebook_access',
 'edition_count',
 'first_publish_year',
 'has_fulltext',
 'ia',
 'ia_collection_s',
 'key',
 'language',
 'lending_edition_s',
 'lending_identifier_s',
 'public_scan_b',
 'title']

In [38]:
# More accurate server-side filtering
params = {
    "q": "harry potter",
    "limit": 50,
    "fields": "title,author_name,first_publish_year,edition_count"
}

response = requests.get(BASE_URL, params=params)
data_filtered = response.json()

data_filtered["docs"]

[{'author_name': ['J. K. Rowling'],
  'edition_count': 226,
  'first_publish_year': 2003,
  'title': 'Harry Potter and the Order of the Phoenix'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 357,
  'first_publish_year': 1997,
  'title': "Harry Potter and the Philosopher's Stone"},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 126,
  'first_publish_year': 2007,
  'title': 'Harry Potter and the Deathly Hallows'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 263,
  'first_publish_year': 1999,
  'title': 'Harry Potter and the Prisoner of Azkaban'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 276,
  'first_publish_year': 1998,
  'title': 'Harry Potter and the Chamber of Secrets'},
 {'author_name': ['J. K. Rowling', 'Mary GrandPrÃ©'],
  'edition_count': 151,
  'first_publish_year': 2005,
  'title': 'Harry Potter and the Half-Blood Prince'},
 {'author_name': ['J. K. Rowling', 'Jim Kay'],
  'edition_count': 231,
  'first_publish_year': 1993,
  'title': 'Harry Potter and the Goblet of Fire'},
 {'author_name': ['Warner Bros. Entertainment Inc'],
  'edition_count': 1,
  'first_publish_year': 2007,
  'title': 'Harry Potter'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 16,
  'first_publish_year': 1999,
  'title': 'Harry Potter (series) 1-7'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 2,
  'first_publish_year': 2001,
  'title': 'Harry Potter'},
 {'author_name': ['Jack Thorne', 'John Tiffany', 'J. K. Rowling'],
  'edition_count': 35,
  'first_publish_year': 2001,
  'title': 'Harry Potter and the Cursed Child'},
 {'author_name': ['Joan Moloney'],
  'edition_count': 1,
  'first_publish_year': 2003,
  'title': 'Harry Potter - Deluxe Coloring Book'},
 {'author_name': ['Adele Books'],
  'edition_count': 1,
  'first_publish_year': 2019,
  'title': 'Harry Potter'},
 {'author_name': ['Drew Struzan'],
  'edition_count': 1,
  'first_publish_year': 2001,
  'title': "Harry Potter and the sorcerer's stone"},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 12,
  'first_publish_year': 1999,
  'title': 'Harry Potter (series) 1-4'},
 {'author_name': ['Felicity Baker'],
  'edition_count': 1,
  'first_publish_year': 2016,
  'title': 'Harry Potter, A Cinematic Guide (e-Book)'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 1,
  'first_publish_year': 2013,
  'title': 'Harry Potter'},
 {'author_name': ['Scholastic Staff'],
  'edition_count': 1,
  'first_publish_year': 2010,
  'title': 'Harry Potter'},
 {'author_name': ['Edition Coloriage Hp'],
  'edition_count': 55,
  'first_publish_year': 2020,
  'title': 'Livre de Coloriage Harry Potter'},
 {'author_name': ['Kevin Wilson', 'Matthew Reinhart'],
  'edition_count': 6,
  'first_publish_year': 2018,
  'title': 'Harry Potter'},
 {'author_name': ['Rick DeMonico'],
  'edition_count': 3,
  'first_publish_year': 2001,
  'title': 'Harry Potter Poster Book'},
 {'author_name': ['Eliezer Yudkowsky'],
  'edition_count': 1,
  'first_publish_year': 2015,
  'title': 'Harry Potter and the Methods of Rationality'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 2,
  'first_publish_year': 1997,
  'title': 'Harry potter '},
 {'author_name': ['Andrews McMeel Publishing'],
  'edition_count': 1,
  'first_publish_year': 2004,
  'title': 'Harry Potter'},
 {'author_name': ['lina wizar'],
  'edition_count': 1,
  'first_publish_year': 2020,
  'title': 'Harry Potter Malbuch'},
 {'author_name': ['Giselle Liza Anatol'],
  'edition_count': 1,
  'first_publish_year': 2003,
  'title': 'Reading Harry Potter'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 8,
  'first_publish_year': 2000,
  'title': 'Harry Potter Boxed Set'},
 {'author_name': ['David Baggett', 'Shawn E. Klein'],
  'edition_count': 1,
  'first_publish_year': 2004,
  'title': 'Harry Potter and philosophy'},
 {'author_name': ['Edition BH'],
  'edition_count': 5,
  'first_publish_year': 2021,
  'title': 'Carnet Harry Potter'},
 {'author_name': ['Tanis Gray'],
  'edition_count': 1,
  'first_publish_year': 2020,
  'title': 'Harry Potter'},
 {'author_name': ['Maik Weber'],
  'edition_count': 1,
  'first_publish_year': 2021,
  'title': 'Farben Harry Potter'},
 {'author_name': ['Scholastic Inc.'],
  'edition_count': 1,
  'first_publish_year': 2001,
  'title': 'Harry Potter Fun Book'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 1,
  'first_publish_year': 1998,
  'title': 'Harry Potter'},
 {'author_name': ['Matthew Reinhart'],
  'edition_count': 2,
  'first_publish_year': 2022,
  'title': 'Harry Potter Character Pop'},
 {'author_name': ['Bettina Grabis'],
  'edition_count': 1,
  'first_publish_year': 2002,
  'title': 'Harry Potter. Sticken'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 1,
  'first_publish_year': 2013,
  'title': 'Harry Potter 03'},
 {'author_name': ['Cedco Publishing'],
  'edition_count': 1,
  'first_publish_year': 2002,
  'title': 'Harry Potter Lantern Journal (Harry Potter)'},
 {'author_name': ['Kolektif'],
  'edition_count': 1,
  'first_publish_year': 2018,
  'title': 'Harry Potter'},
 {'author_name': ['Elizabeth E. Heilman'],
  'edition_count': 7,
  'first_publish_year': 2008,
  'title': 'Critical perspectives on Harry Potter'},
 {'author_name': ['Collectif'],
  'edition_count': 1,
  'first_publish_year': 2001,
  'title': 'Harry Potter'},
 {'author_name': ['Aspet Karapetyan'],
  'edition_count': 1,
  'first_publish_year': 2021,
  'title': 'Harry Potter'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 1,
  'first_publish_year': 2007,
  'title': 'Harry Potter'},
 {'author_name': ['Gold ATOM'],
  'edition_count': 1,
  'first_publish_year': 2020,
  'title': 'Harry Potter'},
 {'author_name': ['Zzz', 'Bloomsbury Point Of Sale'],
  'edition_count': 1,
  'first_publish_year': 2000,
  'title': 'Harry Potter Poster (Azkaban) (Harry Potter)'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 1,
  'first_publish_year': 2013,
  'title': 'Harry Potter 01'},
 {'author_name': ['J. K. Rowling'],
  'edition_count': 5,
  'first_publish_year': 2003,
  'title': 'Harry Potter (series) 1-5'},
 {'author_name': ['Lee Sartori'],
  'edition_count': 1,
  'first_publish_year': 2021,
  'title': 'Harry Potter : Crochet Wizardry | Crochet Patterns | Harry Potter Crafts'},
 {'author_name': ['Scholastic', 'Felicity Baker'],
  'edition_count': 1,
  'first_publish_year': 2016,
  'title': 'Harry Potter'},
 {'author_name': ['Suman Gupta', 'Suman Gupta'],
  'edition_count': 2,
  'first_publish_year': 2003,
  'title': 'RE-READING HARRY POTTER'},
 {'author_name': ['Cedco Publishing'],
  'edition_count': 1,
  'first_publish_year': 2003,
  'title': 'Harry Potter'}]

###  From Broad Search to a Specific Book â€” Three Precision Methods

We already used:
 **Method 1 â€” `fields=` + `q=` to reduce response size**

Now letâ€™s continue with:

---

### Method 2 â€” Filter Locally with pandas (Client-Side)

Once we get the `docs` into a DataFrame, we can search **inside** the results.

In [39]:

# Convert to DataFrame (if not already)
df_api = pd.DataFrame(data_filtered["docs"])

# Filter for a specific title keyword (case-insensitive)
df_api[df_api["title"].str.contains("Goblet", case=False, na=False)]

,author_name,edition_count,first_publish_year,title
6,"[J. K. Rowling, Jim Kay]",231,1993,Harry Potter and the Goblet of Fire

In [40]:
# Step 1: Make a request (limit results to keep it clean)
params = {"q": "harry potter", "limit": 10}
response = requests.get(BASE_URL, params=params).json()

# Step 2: Convert to DataFrame for better inspection
df_api_results = pd.DataFrame(response["docs"])

# Display only title + key so students can choose
df_api_results[["title", "key"]]

                                       title                 key
0  Harry Potter and the Order of the Phoenix     /works/OL82548W
1   Harry Potter and the Philosopher's Stone     /works/OL82563W
2       Harry Potter and the Deathly Hallows     /works/OL82586W
3   Harry Potter and the Prisoner of Azkaban     /works/OL82536W
4    Harry Potter and the Chamber of Secrets     /works/OL82537W
5     Harry Potter and the Half-Blood Prince     /works/OL82565W
6        Harry Potter and the Goblet of Fire     /works/OL82560W
7                               Harry Potter  /works/OL20874116W
8                  Harry Potter (series) 1-7  /works/OL14981609W
9                               Harry Potter  /works/OL21385222W

In [41]:
# Paste ONE work key from df_results["key"] output (example shown below)
selected_key = "/works/OL82548W"  # <-- e.g. "/works/OL82548W"

# Only run this AFTER entering a key above!
if selected_key:
    detail_url = f"https://openlibrary.org{selected_key}.json"
    full_details = requests.get(detail_url).json()

    print(" Fetching details from:", detail_url)
    print(list(full_details.keys())[:12], "...")  # Preview main fields
else:
    print("Please set selected_key first by copying one from df_results['key']")

 Fetching details from: https://openlibrary.org/works/OL82548W.json
['description', 'links', 'title', 'covers', 'subject_places', 'first_publish_date', 'subject_people', 'key', 'authors', 'excerpts', 'type', 'subjects'] ...

In [42]:
# Print important fields from full_details

print("Title:", full_details.get("title"))
print("First Publish Date:", full_details.get("first_publish_date"))
print("Description:",
      full_details.get("description").get("value")
      if isinstance(full_details.get("description"), dict)
      else full_details.get("description"))

print("Subjects:", full_details.get("subject_places"))
print("Cover IDs:", full_details.get("covers"))

Title: Harry Potter and the Order of the Phoenix
First Publish Date: 2003
Description: After the Dementorsâ€™ attack on his cousin Dudley, Harry knows he is about to become Voldemortâ€™s next target.

Although many are denying the Dark Lordâ€™s return, Harry is not alone, and a secret order is gathering at Grimmauld Place to fight against the Dark forces.

Meanwhile, Voldemortâ€™s savage assaults on Harryâ€™s mind are growing stronger every day.

He must allow Professor Snape to teach him to protect himself before he runs out of time.
([source][1])


----------
This work has also been published in multiple volumes. See:

 - [Harry Potter and the Order of the Phoenix: III](https://openlibrary.org/works/OL17937113W/Harry_Potter_and_the_Order_of_the_Phoenix_Chapters_17-23)
 - [Harry Potter and the Order of the Phoenix: IV](https://openlibrary.org/works/OL17915213W/Harry_Potter_and_the_Order_of_the_Phoenix_Chapters_24-30)

  [1]: https://www.jkrowling.com/book/harry-potter-order-phoenix/
Subjects: ['England', 'Hogwarts Schools of Witchcraft and Wizardry', 'Grimmauld Place', 'Privet Drive', 'Angleterre']
Cover IDs: [10523466, 8458068, 9345678, 9335101, 10489944, 10489943, 8857284, 10213748, 10328793, 10363322, 10363325, 10466004, -1, 10871428, 12055490, 12371820, 12376906, 12690336, 12776810, 12883095, 11788945, 13121194, 13874813, 14171603, 14171604, 14171602, 14171605, 14646556, 10553715, 10553716, 12293164, 12337384, 12340765, 14473686]